.col{
background-color: #FFFFFF;
}
.titulo{
    
    text-align: center;
}
.tit1 {
    size: 650px;
}
.contenedores{
    color: #333333;
    display: flex;
    
    text-align: center ;
    margin-left: 10px;
    }
.cont1{
  margin: 25px;
}
.cont2{
    margin: 25px;
  }
  .cont3{
    margin: 25px;
  }
  .cont4{
    margin: 25px;
  }
  .button1{
    color: #E6621F;
    padding: 10px;
    cursor: pointer;
    border-color:  #E6621F;
    border-radius: 10px;
    margin-left: 20px;
  }
  .button1:hover{
    color: #FFFFFF;
    background-color:#E6621F;
  }
  .cont2:hover{
    background-color: #E6621F;
    color: #FFFFFF;
  }
  .cont3:hover{
    background-color: #E6621F;
    color: #FFFFFF;
  }
  .cont1:hover{
    border-style: solid;
    border-width: 1px;
    border-color:#E6621F;
  }
  .cont4:hover{
    border-style: solid;
    border-width: 1px;
    border-color:#E6621F;
  }
